
@model AssignmentManagementSystem.Models.TeacherActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                @if (Model.TeacherId > 0)
                {
                    <span>Edit Teacher</span>
                }
                else
                {
                    <span>Create Teacher</span>
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="TeacherId" value="@Model.TeacherId" />
                <div class="form-group">
                    <label>TeacherName</label>
                    <input class="form-control" name="TeacherName" placeholder="Enter Teacher" value="@Model.TeacherName">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input class="form-control" name="Address" placeholder="Enter Address" value="@Model.Address">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" name="Email" placeholder="Email" value="@Model.Email">
                </div>
                <div class="form-group">
                    <label>ContactNumber</label>
                    <input class="form-control" name="ContactNumber" placeholder="ContactNumber" value="@Model.ContactNumber">
                </div>
                <div class="form-group">

                    <label>FacultyName</label>
                    <select class="form-control" name="FacultyId">
                        @if (Model.Faculty != null)
                        {
                            foreach (var faculty in Model.Faculty)
                            {
                                <option value="@faculty.FacultyId" @(faculty.FacultyId == Model.FacultyId ? "Selected" : string.Empty)>
                                    @faculty.FacultyName
                                </option>
                            }
                        }
                    </select>
                </div>
            </form>
            <div class="errorDiv"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="saveAction" type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>

}
<script>
    $("#saveAction").click(function () {
        debugger;
        $.ajax({
            url: '@Url.Action("Create", "Teacher")',
            type: "post",
            data: $("#actionForm").serialize()
        }).done(function (response) {
            if (response.Success) {
                location.reload();
            } else {
                $(".errorDiv").html(response.Message);
            }

        });

    });
</script>



